[Unit]
Description=Backup system
[Service]
Type=simple
ExecStart=/usr/bin/python3 '/scripts/server-scripts/backup/backup.py'
[Install]
WantedBy=multi-user.target