[Unit]
Description=Backup system according to sources list
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 '/scripts/server-scripts/backup/backup.py'

[Install]
WantedBy=multi-user.target