[Unit]
Description=API server for server-scripts
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
WorkingDirectory=/opt/server-api
ExecStart=/usr/bin/node index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=config-server-api.service