[Unit]
Description=API server for server-scripts
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/server-api/index.js

[Install]
WantedBy=multi-user.target
Alias=config-server-api.service