[Unit]
Description=Copy backup files to server
After=cleanup.service
BindsTo=backup.service
[Service]
User=%i
Group=backup
Type=oneshot
ExecStart=/usr/bin/python3 '/scripts/server-scripts/backup/copytoserver.py'
[Install]
WantedBy=multi-user.target backup.service